outputs
data
work_dirs
MODEL_INOUT_SHAPE.json

.ipynb_checkpoints/
.venv/
.dist/
.vscode/
__pycache__/
assets/
configs/
data/
mmcls_addon/
third_package/
README.md

!simlarity/
!simple_poc/
!.gitignore
!.blocklize/
reps_folder/
0.4.12
Details.md
Ejecucion.md
network_plan.pkl
mis_features/
mis_similitudes/
0
simple_poc/supernet_checkpoint.pth
simple_poc/supernet_checkpoint_resume.pth

.DS_Store
