outputs
data
work_dirs
.ipynb_checkpoints/
.venv/
.dist/
.vscode/
__pycache__/
assets/
configs/
data/
mmcls_addon/
README.md

simple_poc/full_test/*
simple_poc/full_test_lr005/*
simple_poc/full_train_test/*
simple_poc/stitches_only_test/*
simple_poc/supernet_alltrain_lr005-v2/*

!simlarity/
!simple_poc/
!.gitignore
!.blocklize/
reps_folder/
0.4.12
Details.md
Ejecucion.md
network_plan.pkl
mis_features/
mis_similitudes/
0
simple_poc/supernet_checkpoint.pth
simple_poc/supernet_checkpoint_resume.pth
Details.md
hooks_ydemases.md
sim_folder/
Similitud.md

.DS_Store
*.md

*.jsonl
*.log
*.pth
*.ckpt
*.csv