outputs
data
work_dirs
MODEL_INOUT_SHAPE.json

.ipynb_checkpoints/
.venv/
.dist/
.vscode/
__pycache__/
assets/
configs/
data/
mmcls_addon/
third_package/
README.md
mis_features/
mis_similitudes/

!simlarity/
!simple_poc/
!.gitignore
!.blocklize/
0.4.12
